<!DOCTYPE html>
<html>
<head>
  <title>Tacta</title>
  <link rel="stylesheet" href="<%= url('/normalize.css') %>" type="text/css"/>
  <link rel="stylesheet" href="<%= url('/bootstrap.css') %>" type="text/css"/>
  <link rel="stylesheet" href="<%= url('/app.css') %>" type="text/css"/>

</head>
<body>

<Center><h1>Tacta Contact Manager</h1></center>
<hr/>
<div class="container">
  <%= yield %>
</div>
<footer>
  Developer by Rosiene Dilly
</footer>
</body>
</html>
