button a {
   text-decoration: none;
   color: initial;
}

body {
  background-image:url('/img/checkered_pattern.png');

}
h1{
  color: #c68b00
}
thead{
  font-weight: bold;
}
footer{
  display: flex;
  height: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
}
