<a class="btn btn-default" href="/contacts/new">New</a>
<br>
<br>
<form class="form-group" action="/contacts/search" method="POST">
  <div class="input-group">
    <input type="text" class="form-control" name="text_search" placeholder="Search by name...">
    <span class="input-group-btn">
      <input class="btn btn-default" type="submit" value="Go!">
    </span>
  </div>
</form>
<br>
<div class="panel panel-primary">
  <div class="panel-heading">Contacts</div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Phone</td>
          <td>E-mail</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each_with_index do |contact, i| %>
          <tr>
            <td><%= contact[:name] %></td>
            <td><%= contact[:phone] %></td>
            <td><%= contact[:email] %></td>
            <td><a class="btn btn-default" href="/contacts/<%= contact[:id] %>">Show</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
