
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">New Contact</h3>
  </div>
  <div class="panel-body">
    <form action="/contacts" method="POST">
      <p>Name <input type="text" class="form-control" name="name"></p>
      <p>Phone <input type="text" class="form-control" name="phone"></p>
      <p>Email <input type="text" class="form-control" name="email"></p>
      <input class="btn btn-default" type="submit" value="Create">
      <a class="btn btn-default" href="/contacts">Cancel</a>
    </form>
  </div>
</div>
